@mixin link() {
  display: inline-block;
  padding-bottom: 2px;

  color: $d-link-color;
  text-decoration: none;

  background-image: linear-gradient(
    $d-link-underline-color,
    $d-link-underline-color
  );
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% 2px;

  &:hover,
  &:focus {
    background-image: linear-gradient(
      $d-link-underline-color--alt,
      $d-link-underline-color--alt
    );
  }
}
