.admin-tabs {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 9999;
}

.btn-group {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  vertical-align: middle;

  > .btn:not(:first-child) {
    border-top: 0;
  }

  > .btn {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-child {
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }

  @include breakpoint("s") {
    flex-direction: row;
    width: auto;

    > .btn:not(:first-child) {
      border-top: 1px solid $d-color-primary;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    > .btn:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .btn:last-child {
      border-top-right-radius: 6px;
    }

    > .btn:first-child {
      border-bottom-left-radius: 6px;
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 5px 0;
  font-size: 16px;
  color: currentColor;
  text-align: left;
  list-style: none;
  background-color: $d-color-white;
  background-clip: padding-box;
  border: 1px solid rgba($d-color-black, 0.15);
  border-radius: 4px;

  &.show {
    display: block;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 15px;
  clear: both;
  font-weight: 400;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;

  transition: color $d-transition-speed $d-transition-easing,
    background-color $d-transition-speed $d-transition-easing;

  &:hover,
  &:focus {
    color: $d-color-black;
    text-decoration: none;
    background-color: #dee2e6;
  }
}

.dropdown-toggle-split {
  padding-right: 1rem;
  padding-left: 1rem;
}

.dropdown-toggle {
  &::after {
    $border-size: 5px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: space("s");
    vertical-align: middle;
    border-top: $border-size solid;
    border-right: $border-size solid transparent;
    border-bottom: 0;
    border-left: $border-size solid transparent;
  }
}
