$d-text-muted: #6c757d !default;

$d-link-color: currentColor !default;
$d-link-underline-color: #007bff !default;
$d-link-underline-color--alt: rgba($d-link-underline-color, 0.5) !default;

$d-error-color: #721c24 !default;
$d-error-border-color: #f5c6cb !default;
$d-error-background: #f8d7da !default;
