$d-form-border-color: #e7e9ec !default;
$d-form-border-width: 1px !default;
$d-form-border-radius: 5px !default;
$d-form-border-color--focus: #80bdff !default;
$d-form-box-shadow: 0 0 0 3px !default;
$d-form-box-shadow-color: rgba(0, 123, 255, 0.25) !default;

$d-form-background-color: #ffffff !default;

$d-form-label-weight: 600 !default;
$d-form-required-asterix-color: #4263eb !default;

$d-form-border-color--error: #f03e3e !default;
$d-form-box-shadow-color--eror: #ffa8a8 !default;
