.l-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: $d-login-background-color;
  background-image: $d-login-background-image;

  &__box {
    padding: 4rem;
    background-color: #fff;

    border-radius: 0.5rem;
  }

  &__tools {
    margin-bottom: 3rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 4rem;

    .logo {
      width: 60%;
    }
  }
}
