html {
  font-size: 62.5%; //10px = 1rem
}

body {
  font-family: sans-serif;

  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 800;
}
