@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.alert {
  display: flex;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid transparent;

  &__items {
    padding: 1.5rem 0 1.5rem 3rem;
  }

  &.is-error {
    color: $d-error-color;
    background-color: $d-error-background;
    border-color: $d-error-border-color;

    animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}
